// Colors

$dark-blue: #1f2632;
$dark-grayish-blue: #323a49;
$grayish-blue: #4e5d73;
$neon-green: #52ffa8;
$light-cyan: #cee3e9;

// Typography

$font: 'Manrope', sans-serif;
$quote-size: 1.75rem;
$font-weight: 800;